body {
    font-family: 'Roboto'; 
    margin: 0;
    padding: 20px;
    background-color: #e0f7fa; /* Light mint background */
    color: #000000; /* Black text color */
    line-height: 1.6;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px; /* Set a maximum width for the container */
    width: 100%; /* Allow it to scale down on smaller screens */
    padding: 20px; 
    box-sizing: border-box; 
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #004d4d; /* Dark teal background for header */
    color: #ffffff; /* White text color */
    padding: 20px;
    border-radius: 8px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    margin: 5px 0;
}

header a {
    color: #e0f7fa;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    color: #ffffff;  
    text-decoration: underline;
}

section {
    background-color: #ffffff; /* White background */
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, border-left 0.3s ease;
    border-left: 5px solid transparent;
    max-width: 100%; 
}

section:hover {
    transform: translateY(-5px);
    border-left: 5px solid #ff6f61; /* Bright coral border on hover */
}

section h3 {
    color: #004d4d; /* Dark teal for section headers */
    margin-top: 0;
}

strong {
    cursor: pointer;
    color: #ff6f61; /* Dark coral for strong text */
    position: relative;
    display: block;
    margin-bottom: 10px;
}

strong:after {
    content: ' ▼'; 
    font-size: 12px;
    position: absolute;
    right: -15px;
    margin-top: -10px;
}

strong.expanded:after {
    content: ' ▲'; 
}

strong + span {
    display: none;
    margin-left: 10px;
    margin-bottom: -10px;
    position: relative;
    top: -25px;
}
a {
    color: #004d4d; /* Dark teal for links */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ff6f61; /* Bright coral on hover */
    text-decoration: underline; 
}
